@import url("../globals.css");
@import url("../variables.css");

#presentation {
  height: 65vh;
  margin-top: 20vh;
  margin-bottom: 10vh;
  padding: 0 5vw;
}

#presentation div {
  width: 100%;
  position: sticky;
  top: 15%;
}

#presentation div h1 {
  margin-bottom: 10px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 1.8rem;
}

#name {
  color: var(--color2);
  font-size: 1em;
}

#presentation div h2 {
  color: black;
  letter-spacing: 4px;
  font-size: 1.4rem;
  text-decoration: none;
  margin-bottom: 20px;
  text-transform: lowercase;
}

#CV {
  color: var(--color1);
  background-color: transparent;
  display: inline-block;
  padding: 12px 20px;
  letter-spacing: 1px;
  border: solid 3px var(--color1);
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.2s ease;
}

#CV:hover {
  color: white;
  background-color: var(--color1);
}

/* Sections */
.sectionTitles {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  border-left: 5px solid var(--color1);
  padding-left: 12px;
  align-self: flex-start;
  margin-bottom: 40px;
  z-index: 2;
}

.sectionSubTitles {
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 0 5vw;
  z-index: 2;
}
#content {
  position: relative; /* para las hojas */
  background-image: url(../images/webDesign/whiteTree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* FORMACIÓN */
#aboutMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 5vw;
  box-sizing: border-box;
}

/* HOJAS */
.leaf {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  opacity: 0;
}

#leaf1 {
  animation: move1 5.5s linear infinite;
}

#leaf2 {
  top: 8vh;
  animation: move2 7.9s linear infinite;
  animation-delay: 2s;
}

#leaf3 {
  animation: move3 6.6s linear infinite;
  animation-delay: 0.5s;
}

#leaf4 {
  top: 30vh;
  animation: move4 6.2s linear infinite;
  animation-delay: 4s;
}

#leaf5 {
  animation: move5 7s linear infinite;
}

#leaf6 {
  animation: move6 8.8s linear infinite;
  animation-delay: 3s;
}

#leaf7 {
  animation: move7 8s linear infinite;
}

#leaf8 {
  animation: move8 6.5s linear infinite;
}

#leaf9 {
  animation: move9 7.3s linear infinite;
  animation-delay: 5s;
}

#leaf10 {
  top: 140vh;
  animation: move2 7.7s linear infinite;
  animation-delay: 1.5s;
}

#leaf11 {
  top: 160vh;
  animation: move4 6.2s linear infinite;
}

#leaf12 {
  top: 180vh;
  animation: move1 8.3s linear infinite;
  animation-delay: 3s;
}

@keyframes move1 {
  0% {
    opacity: 1;
    transform: translateX(-20vw) translateY(-8vh) rotateX(-60deg) rotateY(60deg);
  }
  16.6% {
    transform: translateX(-5vw) translateY(0vh) rotateX(0deg) rotateY(140deg);
  }
  33.3% {
    transform: translateX(18vw) translateY(10vh) rotateX(90deg) rotateY(250deg);
  }
  50% {
    transform: translateX(40vw) translateY(20vh) rotateX(180deg) rotateY(430deg);
  }
  66.6% {
    transform: translateX(62vw) translateY(25vh) rotateX(270deg) rotateY(610deg);
  }
  83.3% {
    transform: translateX(85vw) translateY(35vh) rotateX(360deg) rotateY(720deg);
  }
  100% {
    opacity: 1;
    transform: translateX(105vw) translateY(40vh) rotateX(450deg)
      rotateY(820deg);
  }
}

@keyframes move2 {
  0% {
    opacity: 1;
    transform: translateX(-20vw) translateY(-4vh) rotateX(-60deg)
      rotateY(-70deg);
  }
  16.6% {
    transform: translateX(-5vw) translateY(2vh) rotateX(0deg) rotateY(0deg);
  }
  33.3% {
    transform: translateX(18vw) translateY(10vh) rotateX(60deg) rotateY(90deg);
  }
  50% {
    transform: translateX(40vw) translateY(18vh) rotateX(120deg) rotateY(180deg);
  }
  66.6% {
    transform: translateX(62vw) translateY(26vh) rotateX(210deg) rotateY(270deg);
  }
  83.3% {
    transform: translateX(85vw) translateY(32vh) rotateX(300deg) rotateY(330deg);
  }
  100% {
    opacity: 1;
    transform: translateX(105vw) translateY(45vh) rotateX(360deg)
      rotateY(360deg);
  }
}

@keyframes move3 {
  0% {
    opacity: 1;
    transform: translateX(-20vw) translateY(45vh) rotateX(-45deg)
      rotateY(-80deg);
  }
  16.6% {
    transform: translateX(0vw) translateY(47vh) rotateX(45deg) rotateY(30deg);
  }
  33.3% {
    transform: translateX(16vw) translateY(53vh) rotateX(120deg) rotateY(100deg);
  }
  50% {
    transform: translateX(36vw) translateY(56vh) rotateX(180deg) rotateY(220deg);
  }
  66.6% {
    transform: translateX(62vw) translateY(52vh) rotateX(250deg) rotateY(300deg);
  }
  83.3% {
    transform: translateX(82vw) translateY(59vh) rotateX(320deg) rotateY(390deg);
  }
  100% {
    opacity: 1;
    transform: translateX(105vw) translateY(62vh) rotateX(390deg)
      rotateY(450deg);
  }
}

@keyframes move4 {
  0% {
    opacity: 1;
    transform: translateX(-20vw) translateY(0vh) rotateX(-60deg) rotateY(0deg);
  }
  16.6% {
    transform: translateX(-5vw) translateY(5vh) rotateX(0deg) rotateY(45deg);
  }
  33.3% {
    transform: translateX(15vw) translateY(10vh) rotateX(60deg) rotateY(90deg);
  }
  50% {
    transform: translateX(34vw) translateY(15vh) rotateX(120deg) rotateY(180deg);
  }
  66.6% {
    transform: translateX(59vw) translateY(25vh) rotateX(180deg) rotateY(270deg);
  }
  83.3% {
    transform: translateX(83vw) translateY(35vh) rotateX(240deg) rotateY(330deg);
  }
  100% {
    opacity: 1;
    transform: translateX(105vw) translateY(40vh) rotateX(300deg)
      rotateY(420deg);
  }
}

@keyframes move5 {
  0% {
    opacity: 1;
    transform: translateX(-20vw) translateY(70vh) rotateX(-30deg) rotateY(90deg);
  }
  16.6% {
    transform: translateX(0vw) translateY(72vh) rotateX(0deg) rotateY(180deg);
  }
  33.3% {
    transform: translateX(25vw) translateY(75vh) rotateX(30deg) rotateY(270deg);
  }
  50% {
    transform: translateX(46vw) translateY(85vh) rotateX(60deg) rotateY(360deg);
  }
  66.6% {
    transform: translateX(68vw) translateY(90vh) rotateX(120deg) rotateY(450deg);
  }
  83.3% {
    transform: translateX(83vw) translateY(100vh) rotateX(150deg)
      rotateY(540deg);
  }
  100% {
    opacity: 1;
    transform: translateX(105vw) translateY(115vh) rotateX(210deg)
      rotateY(630deg);
  }
}

@keyframes move6 {
  0% {
    opacity: 1;
    transform: translateX(-20vw) translateY(82vh) rotateX(-45deg) rotateY(0deg);
  }
  16.6% {
    transform: translateX(-5vw) translateY(85vh) rotateX(0deg) rotateY(90deg);
  }
  33.3% {
    transform: translateX(20vw) translateY(88vh) rotateX(45deg) rotateY(180deg);
  }
  50% {
    transform: translateX(40vw) translateY(90vh) rotateX(90deg) rotateY(270deg);
  }
  66.6% {
    transform: translateX(60vw) translateY(92vh) rotateX(135deg) rotateY(360deg);
  }
  83.3% {
    transform: translateX(80vw) translateY(95vh) rotateX(150deg) rotateY(450deg);
  }
  100% {
    opacity: 1;
    transform: translateX(105vw) translateY(100vh) rotateX(180deg)
      rotateY(540deg);
  }
}

@keyframes move7 {
  0% {
    opacity: 1;
    transform: translateX(-20vw) translateY(106vh) rotateX(-60deg)
      rotateY(90deg);
  }
  16.6% {
    transform: translateX(-5vw) translateY(110vh) rotateX(0deg) rotateY(180deg);
  }
  33.3% {
    transform: translateX(18vw) translateY(115vh) rotateX(60deg) rotateY(270deg);
  }
  50% {
    transform: translateX(39vw) translateY(120vh) rotateX(120deg)
      rotateY(360deg);
  }
  66.6% {
    transform: translateX(62vw) translateY(125vh) rotateX(150deg)
      rotateY(450deg);
  }
  83.3% {
    transform: translateX(85vw) translateY(130vh) rotateX(180deg)
      rotateY(540deg);
  }
  100% {
    opacity: 1;
    transform: translateX(105vw) translateY(138vh) rotateX(240deg)
      rotateY(630deg);
  }
}

@keyframes move8 {
  0% {
    opacity: 1;
    transform: translateX(-20vw) translateY(134vh) rotateX(-45deg) rotateY(0deg);
  }
  16.6% {
    transform: translateX(-5vw) translateY(140vh) rotateX(0deg) rotateY(90deg);
  }
  33.3% {
    transform: translateX(19vw) translateY(145vh) rotateX(45deg) rotateY(180deg);
  }
  50% {
    transform: translateX(36vw) translateY(150vh) rotateX(90deg) rotateY(270deg);
  }
  66.6% {
    transform: translateX(56vw) translateY(155vh) rotateX(135deg)
      rotateY(360deg);
  }
  83.3% {
    transform: translateX(76vw) translateY(160vh) rotateX(180deg)
      rotateY(450deg);
  }
  100% {
    opacity: 1;
    transform: translateX(105vw) translateY(165vh) rotateX(210deg)
      rotateY(540deg);
  }
}

@keyframes move9 {
  0% {
    opacity: 1;
    transform: translateX(-20vw) translateY(162vh) rotateX(-60deg) rotateY(0deg);
  }
  16.6% {
    transform: translateX(3vw) translateY(165vh) rotateX(0deg) rotateY(120deg);
  }
  33.3% {
    transform: translateX(30vw) translateY(170vh) rotateX(60deg) rotateY(240deg);
  }
  50% {
    transform: translateX(50vw) translateY(175vh) rotateX(120deg)
      rotateY(330deg);
  }
  66.6% {
    transform: translateX(76vw) translateY(180vh) rotateX(150deg)
      rotateY(420deg);
  }
  83.3% {
    transform: translateX(88vw) translateY(185vh) rotateX(180deg)
      rotateY(510deg);
  }
  100% {
    opacity: 1;
    transform: translateX(105vw) translateY(190vh) rotateX(240deg)
      rotateY(600deg);
  }
}

/* PERFIL */
#profile {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  border-radius: 24px;
  max-width: 900px;
  padding: 20px;
  margin: 0 5vw 40px 5vw;
  box-sizing: border-box;
}

#profile p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-align: center;
}

/* FORMACIÓN ACADÉMICA */
#cardsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 60px;
}

.aboutMeCard {
  width: 340px;
  height: 520px;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
}

.aboutMeCard .cardInner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.3s ease-in-out;
}

.aboutMeCard:hover .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 5px;
  background: linear-gradient(0deg, var(--color3), var(--color1));
  box-sizing: border-box;
}

.aboutMeCard .cardInner .cardFront {
  transform: rotateY(180deg);
}

.aboutMeCard .cardInner .cardFront .cardInfo {
  height: 100%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
}

.aboutMeCard .cardInner .cardFront .cardInfo img {
  height: 30%;
  align-self: center;
}

.aboutMeCard .cardInner .cardFront .cardInfo h4 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  height: 15%;
}

.highlighted {
  font-size: 1em;
  font-weight: 700;
  color: var(--color3);
}

.aboutMeCard .cardInner .cardFront .cardInfo h5 {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 700;
  height: 10%;
}

.aboutMeCard .cardInner .cardFront .cardInfo ul {
  height: 45%;
  list-style: none;
  background-color: rgba(152, 143, 42, 0.2);
  border: 2px solid var(--color1);
  border-radius: 20px;
  padding: 8px 12px;
}

.aboutMeCard .cardInner .cardFront .cardInfo ul li {
  font-size: 1.1rem;
  padding: 4px 0;
}

.aboutMeCard .cardInner .cardFront .cardInfo p {
  height: 45%;
  list-style: none;
  background-color: rgba(152, 143, 42, 0.2);
  border: 2px solid var(--color1);
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 1.1rem;
}

.aboutMeCard .cardInner .cardBack img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* FORMACIÓN COMPLEMENTARIA */
#map {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 24px;
  background-image: url(../images/webDesign/pradera.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 60px;
}

#map .mapElement {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#map .mapElement h4 {
  font-size: 1.8rem;
  text-align: center;
}

#map .mapElement h5 {
  font-size: 1.6rem;
  text-align: center;
}

#map .mapElement:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
}

#map .mapElement .highlighted2 {
  font-size: 1em;
  font-weight: 500;
  color: transparent;
  transition: 0.3s ease-in-out;
}

#map .mapElement:hover .highlighted2 {
  color: var(--color5);
}

/* EXPERIENCIA PROFESIONAL */
#experienceDoors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 200px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.doors {
  width: 360px;
  height: 300px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 0 45px;
}

.doors .company {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.doors .company .jobPicture {
  width: 80%;
}

.doors .company span {
  font-size: 1.2rem;
  font-weight: 700;
}

.doors .company .typeOfWork {
  color: var(--color2);
  margin-bottom: 20px;
}

.doors .company button {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  border: solid 3px var(--color3);
  color: var(--color3);
  padding: 8px 12px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s ease;
}

.doors .company button:hover {
  color: white;
  background-color: var(--color3);
}

#i4life {
  margin-bottom: 20px;
}

.doors .rightDoor {
  width: 180px;
  height: 306px;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  transition: 0.3s ease-in-out;
}

.doors .leftDoor {
  width: 180px;
  height: 306px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 0.3s ease-in-out;
}

.doors:hover .rightDoor {
  transform: translateX(130px) rotateY(180deg);
}

.doors:hover .leftDoor {
  transform: translateX(-130px);
}

/* CONTACTO */
#contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 5vw;
  box-sizing: border-box;
}

/* MODALES */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  z-index: 20;
  justify-content: center;
  align-items: center;
}

.hiddenModal {
  display: none;
}

.modalContent {
  position: relative;
  width: 80%;
  max-width: 800px;
  max-height: 90%;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
}

.modalContent .x {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.modalContent .x:hover {
  filter: invert(51%) sepia(79%) saturate(386%) hue-rotate(17deg)
    brightness(91%) contrast(86%);
}

.modalContent .school {
  height: 100px;
  border-bottom: 1px solid rgb(215, 215, 215);
  padding: 0 10vw;
}

.modalContent h4 {
  font-size: 1.4rem;
  padding: 15px 0;
}

.modalContent h5 {
  font-size: 1.2rem;
  padding-bottom: 15px;
  color: grey;
}

.modalContent p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.modalContent div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.modalContent .techs {
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.modalContent .techs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.modalContent .techs div span {
  font-size: 1.1rem;
}

.modalContent .techs div .techPicture {
  height: 50px;
}

@media only screen and (max-width: 920px) {
  #presentation div {
    top: 20%;
  }
}

@media only screen and (max-width: 860px) {
  #cardsContainer {
    justify-content: center;
  }

  #leaf1 {
    top: 0;
    animation: move1 3s linear infinite;
  }

  #leaf2 {
    top: 10vh;
    animation: move2 5.4s linear infinite;
  }

  #leaf3 {
    top: 30vh;
    animation: move3 4.1s linear infinite;
  }

  #leaf4 {
    top: 40vh;
    animation: move4 3.7s linear infinite;
  }

  #leaf5 {
    top: 65vh;
    animation: move5 4.5s linear infinite;
  }

  #leaf6 {
    top: 85vh;
    animation: move6 6.3s linear infinite;
  }

  #leaf7 {
    top: 100vh;
    animation: move7 5.5s linear infinite;
  }

  #leaf8 {
    top: 110vh;
    animation: move8 4s linear infinite;
  }

  #leaf9 {
    top: 130vh;
    animation: move9 4.8s linear infinite;
  }
  #leaf10 {
    top: 150vh;
    animation: move2 5.2s linear infinite;
  }
  #leaf11 {
    top: 160vh;
    animation: move5 4.5s linear infinite;
  }
  #leaf12 {
    top: 180vh;
    animation: move1 5.8s linear infinite;
  }
}
@media only screen and (max-width: 768px) {
  .leaf {
    width: 100px;
  }

  #map {
    position: relative;
    width: 450px;
    height: 450px;
  }

  #map .mapElement h4 {
    font-size: 1.4rem;
    text-align: center;
  }

  #map .mapElement h5 {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #presentation {
    margin-top: 25vh;
    text-align: center;
  }

  #presentation div {
    top: 18%;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    /* box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25); */
    box-sizing: border-box;
    padding: 20px;
    border-radius: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .sectionTitles {
    font-size: 1.8rem;
  }

  .sectionSubTitles {
    font-size: 1.5rem;
  }

  #map {
    position: relative;
    width: 340px;
    height: 340px;
  }

  #map .mapElement h4 {
    font-size: 1.2rem;
    text-align: center;
  }

  #map .mapElement h5 {
    font-size: 1.1rem;
    text-align: center;
  }

  #presentation div {
    position: static;
  }

  .modalContent .school {
    height: 60px;
    padding: 0 10vw;
  }

  .modalContent h4 {
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .modalContent h5 {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .modalContent p {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .modalContent .techs div span {
    font-size: 1rem;
  }

  .modalContent .techs div .techPicture {
    height: 40px;
  }
}

@media only screen and (max-width: 390px) {
  #presentation {
    height: 70vh;
  }

  #map {
    position: relative;
    width: 320px;
    height: 320px;
  }

  #map .mapElement h4 {
    font-size: 1.1rem;
    text-align: center;
  }

  #map .mapElement h5 {
    font-size: 1rem;
    text-align: center;
  }
}
