@import url('https://fonts.googleapis.com/css?family=Arvo');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Arvo", serif;
    font-size: 16px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    background-color: transparent;
    height: 10vh;
    max-width: 100%;  
    z-index: 1;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label.logo {
    color: black;
    font-size: 2.1875em;
    margin: 0 5vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    transition: all 0.4s ease;
}

nav ul {
    float: right;
    margin-right: 1.5vw;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1.5em;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;

    font-size: 1.125em;
    padding: 0 0.25em 0 0.25em; /* top, right, bottom, left */
    border-radius: 0.1875em;
    text-transform: uppercase;

    position: relative; 
    transition: color 0.4s ease;
}

/* BARRITA DEL MENU */
nav ul li a::after {
    content: "";
    position: absolute; 
    background-color: green;
    height: 0.1em;
    width: 0%;
    left: 0;
    margin-left: 10%;
    bottom: -0.2em;
    transition: width 0.4s ease;
}

/* BARRITA DEL MENU */
nav ul li a:hover::after {
    width: 80%;
}

/* TRANSICIÓN DEL TEXTO DE a */
nav ul li a:hover {
    color: green;
}

/* NAV if SCROLLED*/

.scrolled { 
    background-color: green;
    height: 8.5vh;
    transition: all 0.4s ease;
}

.scrolled label.logo {
    color: white;
}
.scrolled ul li a {
    color: white;
    transition: all 0.4s ease;
}

.scrolled ul li a:hover {
    color: rgb(0, 255, 0);
}

.scrolled ul li a::after {
    background-color: rgb(0, 255, 0);

}

/* FIN de SCROLLED */

/* Inicio */

body {
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#inicio {
    height: 100vh;
    /* background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

#inicio div {
    position: sticky;
    top: 20vh;
    margin-left: 5vw;
    margin-bottom: 20vh;
    overflow: hidden;

}

#inicio div h1 {
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 1.8em;
}

#nombre {
    color: green;
    font-size: 1em;
}

#inicio div h2 {
    color: black;
    letter-spacing: 0.15em;
    font-size: 1.4em;
    text-decoration: none;
    margin-bottom: 0.6em;
    text-transform: lowercase;
}

#inicio div #CV {
    color: white;
    background-color: green;
    margin-top: 0.2em;
    display: inline-block;
    padding: 0.8em;
    border: solid 0.25em green;
    border-radius: 1em;
    transition: all 0.3s ease; 
}

#inicio div #CV:hover {
    color: green;
    background-color: transparent;
}